<!doctype html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script type=text/javascript src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
<script type=text/javascript>
$(document).ready(function() {
    $('#up').bind('click', function() {
      $.getJSON($SCRIPT_ROOT +'/handle', {
        control: $('#up').text()
      }, function(data) {
        $("h1").text(data.result);
      });
      return false;
    }
    );

     $('#down').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/handle', {
        control: $('#down').text()
      }, function(data) {
        $("h1").text(data.result);
      });
      return false;
    }
    );

    $('#submit_time').bind('click', function() {
      $.getJSON(window.location.host+ '/setsch', {
        time: $('#temp_time').val(),
        temp: $('#temp_val').val()
      }, function(data) {
        alert("temp set!!!!");
      });
      return false;
    }
    );
}
);

</script>

</head>
<center>
<label for="temp-sch">set temp time: </label>
<input id="temp_time" type="time" name="appt-time" value="13:30">
<label for="temp">set temp: </label>
<input  type="text" name="temp_val" value="command">
<input type="submit" id="submit_time" name="create_sch">
<div >
<button class="control" id="up" name="control" type="button">UP</button><br>
<h1 style="font-size: 800%">{{ temp }}</h1><br>
<button class="control"  id="down" name="control" type="button">DOWN</button><br>
</div>

</center>

