<html>
<body>
<form action="{{ url_for('schedule_process') }}" method="post">
Day of the Week:
<select id="dow" name="dow">
  <option value="monday">Monday</option>
  <option value="tuesday">Tuesday</option>
  <option value="wednesday">Wednesday</option>
  <option value="thursday">Thursday</option>
  <option value="friday">Friday</option>
  <option value="saturday">Saturday</option>
  <option value="sunday">Sunday</option>
</select>

Time: <input id="time" name="time" type="time">
temp: <input id="temp" name="temp" type="number" min="65" max="85">
<input type="submit">
</form>  
</body>
</html>
