<html>
<body>
<form action="{{ url_for('schedule_process') }}" method="post">
Day of the Week:
<select id="dow" name="dow">
  <option value="mon">Monday</option>
  <option value="tue">Tuesday</option>
  <option value="wed">Wednesday</option>
  <option value="thu">Thursday</option>
  <option value="fri">Friday</option>
  <option value="sat">Saturday</option>
  <option value="sun">Sunday</option>
</select>


Time: <input id="hour" name="hour" type="number" min="1" max="24">
<input id="minute" name="minute" type="number" min="00" max="59">
temp: <input id="temp" name="temp" type="number" min="65" max="85">
<input type="submit">
</form>
</body>
</html>
